doctype html
html(lang='vi')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='blog')
    meta(name='author', content='Trí Phạm')
    title PetSky-Hệ thống mua bán thú cưng hàng đầu Việt Nam
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    // Bootstrap core CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    // Custom styles for this template
    link(href='css/modern-business.css', rel='stylesheet')
    link(href='/styles/style.css', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/styles/normalize.css')
  body(style='background-color:#d9d9d9;')
    div
      div
        // header
        .header
          nav.navbar.navbar-expand-sm.bg-lightblue.navbar-lightblue
            // Brand/logo
            a.navbar-brand(href='#')
              img#logo(src='img/logo3.png', alt='logo')
            // search
            form.form-inline.search(action='')
              input#search1.form-control.mr-sm-2(type='text', placeholder='Search')
              button.btn.btn-success(style='height: 42px;', type='submit') Search
            p.hotline
              b
                | HOT LINE LIÊN HỆ
                br
                | 19001508
            img(src='img/giohang2.png', alt='giohang', style='width:60px;')
          br
        // end header
        // menu
        .btn-group
          .btn-group
            button.btn.btn-success.dropdown-toggle.b(type='button', data-toggle='dropdown')
              | Trang chủ 
              span.caret
            ul.dropdown-menu.drop(role='menu')
              li
                a(href='#') Hugky
              li
                a(href='#') Shiba
          .btn-group
            button.btn.btn-success.dropdown-toggle.b(type='button', data-toggle='dropdown')
              | Dog 
              span.caret
            ul.dropdown-menu.drop(role='menu')
              li
                a(href='#') Hugky
              li
                a(href='#') Shiba
          .btn-group
            button.btn.btn-success.dropdown-toggle.b(type='button', data-toggle='dropdown')
              | Cat 
              span.caret
            ul.dropdown-menu.drop(role='menu')
              li
                a(href='#') Hugky
              li
                a(href='#') Shiba
          .btn-group
            button.btn.btn-success.dropdown-toggle.b(type='button', data-toggle='dropdown')
              | Squirrel 
              span.caret
            ul.dropdown-menu.drop(role='menu')
              li
                a(href='#') Hugky
              li
                a(href='#') Shiba
          .btn-group
            button.btn.btn-success.dropdown-toggle.b(type='button', data-toggle='dropdown')
              | Bird 
              span.caret
            ul.dropdown-menu.drop(role='menu')
              li
                a(href='#') Hugky
              li
                a(href='#') Shiba
          .btn-group
            button.btn.btn-success.dropdown-toggle.b(type='button', data-toggle='dropdown')
              | Fish 
              span.caret
            ul.dropdown-menu.drop(role='menu')
              li
                a(href='#') Hugky
              li
                a(href='#') Shiba
          .btn-group
            button.btn.btn-success.dropdown-toggle.b(type='button', data-toggle='dropdown')
              | Turtle 
              span.caret
            ul.dropdown-menu.drop(role='menu')
              li
                a(href='#') Hugky
              li
                a(href='#') Shiba
          .btn-group
            button.btn.btn-success.dropdown-toggle.b(type='button', data-toggle='dropdown')
              | Hỗ trợ 
              span.caret
            ul.dropdown-menu.drop(role='menu')
              li
                a(href='#') Hugky
              li
                a(href='#') Shiba
      // end menu
      div
        // slideshow
        .carousel.slide(data-ride='carousel')
          // Indicators
          ul.carousel-indicators
            li.active(data-target='#demo', data-slide-to='0')
            li(data-target='#demo', data-slide-to='1')
            li(data-target='#demo', data-slide-to='2')
          // The slideshow
          .carousel-inner
            .carousel-item.active
              img(src='img/4.png', alt='pet', width='100%', height='223')
            .carousel-item
              img(src='img/4.png', alt='pet', width='100%', height='223')
            .carousel-item
              img(src='img/4.png', alt='pet', width='100%', height='223')
          // Left and right controls
          a.carousel-control-prev(href='#demo', data-slide='prev')
            span.carousel-control-prev-icon
          a.carousel-control-next(href='#demo', data-slide='next')
            span.carousel-control-next-icon
        // end-slide-show
        // Danh Mục
        .danhmuc
          pre(style='color: #838383;font-size:20px; ').
            \n DANH MỤC ƯA THÍCH            
          .card-group
            .card.bg-light
              img.card-img-top.img2(src='img/1.png', alt='Hubky')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Hubky
            .card.bg-light
              img.card-img-top.img2(src='img/2.png', alt='American Eskimo')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') American Eskimo
            .card.bg-light
              img.card-img-top.img2(src='img/3.png', alt='Poodle')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Poodle
            .card.bg-light
              img.card-img-top.img2(src='img/5.png', alt='Maine Coon')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Maine Coon
            .card.bg-light
              img.card-img-top.img2(src='img/6.png', alt='Rad Doll')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Rag Doll
            .card.bg-light
              img.card-img-top.img2(src='img/7.png', alt='Mèo thần miến điện')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Mèo thần Miến Điện
            .card.bg-light
              img.card-img-top.img2(src='img/8.png', alt='Retriever')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Retriever
            .card.bg-light
              img.card-img-top.img2(src='img/9.png', alt='Beagle')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Beagle
            .card.bg-light
              img.card-img-top.img2(src='img/10.png', alt='Pom')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Pom
            .card.bg-light
              img.card-img-top.img2(src='img/11.png', alt='Mèo lông ngắn Anh')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Mèo lông ngắn Anh
          .card-group
            .card.bg-light
              img.card-img-top.img2(src='img/12.png', alt='Mandarin fish')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Mandarin fish
            .card.bg-light
              img.card-img-top.img2(src='img/13.png', alt='Cá thù lù')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Cá thù lù
            .card.bg-light
              img.card-img-top.img2(src='img/14.png', alt='Chinchilla')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Chinchilla
            .card.bg-light
              img.card-img-top.img2(src='img/15.png', alt='finnish-spitz')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Finnish Spitz
            .card.bg-light
              img.card-img-top.img2(src='img/16.png', alt='Sóc Bông')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Sóc Bông
            .card.bg-light
              img.card-img-top.img2(src='img/21.png', alt='Corgi')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Corgi
            .card.bg-light
              img.card-img-top.img2(src='img/18.png', alt='Sóc Bắc Mĩ')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Sóc Bắc Mĩ
            .card.bg-light
              img.card-img-top.img2(src='img/19.png', alt='Vẹt lông vàng')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Vẹt lông vàng
            .card.bg-light
              img.card-img-top.img2(src='img/20.png', alt='Chào mào')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Chào mào
            .card.bg-light
              img.card-img-top.img2(src='img/17.png', alt='Rùa Hermann')
              .card-body.text-center
                a.stretched-link(href='#', style='color: #838383;text-decoration: none;') Rùa Hermann
        // end-danh-mục
        // Đăng nhập
        .row.danhmuc
          #nendangnhap.col-sm-4(style='border-right: 0.5px solid #E6E6E6;')
            p(style='color:#fff; ')
            h2 Đăng Nhập
            p
            .row
              form.form-inline(style='margin:0px 0px 15px 10px;')
                input.dangnhap(type='text', placeholder='Tên đăng nhập', name='name')
                input.dangnhap(type='password', placeholder='Mật Khẩu', name='password')
                .form-group.form-check
                  label.form-check-label
                    input.form-check-input(type='checkbox', name='remember')
                    |  Remember me
                button.dangnhap1.btn.btn-success(type='submit')
                  a(href='#', style='color:#fff;') Đăng nhập
            .row
              form.form-inline
                button.dangki(type='submit')
                  a(href='#') Đăng kí tài khoản
                button.dangki(type='submit')
                  a(href='#') Đăng kí người bán
          .col-sm-8
            .carousel.slide(data-ride='carousel')
              // Indicators
              ul.carousel-indicators
                li.active(data-target='#demo', data-slide-to='0')
                li(data-target='#demo', data-slide-to='1')
                li(data-target='#demo', data-slide-to='2')
              // The slideshow
              .carousel-inner
                .carousel-item.active
                  img(src='img/cumeo.jpg', alt='pet', width='100%', height='220')
                .carousel-item
                  img(src='img/cumeo1.jpg', alt='pet', width='100%', height='220')
                .carousel-item
                  img(src='img/soc.jpg', alt='pet', width='100%', height='220')
              // Left and right controls
              a.carousel-control-prev(href='#demo', data-slide='prev')
                span.carousel-control-prev-icon
              a.carousel-control-next(href='#demo', data-slide='next')
                span.carousel-control-next-icon
      // End-Đăng nhập
      // content
      .content
        div
          pre(style='color: #838383;font-size:20px; ').
            \n THÔNG TIN RAO BÁN            
        .card-deck
          .card.bg-light
            img.card-img-top.img-thumbnail.img1(src='img/retriever.jpg', alt='Card image')
            .card-body.text-center
              p.card-text
              h2 Retriever
              p
              p.card-text
              h5 20-Lê Thanh Nghị-Hai Bà Trưng-Hà Nội
              p
              a(href='#')
                h6 Xem chi tiết
              p.card-text
              h4(style='color: red') 2.000.000 Đ
              p
              a.btn.btn-warning.buy(href='#') Đặt Mua
          .card.bg-light
            img.card-img-top.img-thumbnail.img1(src='img/Sóc bắc mĩ.jpg', alt='Card image')
            .card-body.text-center
              p.card-text
              h2 Sóc Bắc Mĩ
              p
              p.card-text
              h5 20-Lê Thanh Nghị-Hai Bà Trưng-Hà Nội
              p
              a(href='#')
                h6 Xem chi tiết
              p.card-text
              h4(style='color: red') 2.000.000 Đ
              p
              a.btn.btn-warning.buy(href='#') Đặt Mua
          .card.bg-light
            img.card-img-top.img-thumbnail.img1(src='img/cho2.jpg', alt='Card image')
            .card-body.text-center
              p.card-text
              h2 Finnish Spitz
              p
              p.card-text
              h5 20-Lê Thanh Nghị-Hai Bà Trưng-Hà Nội
              p
              a(href='#')
                h6 Xem chi tiết
              p.card-text
              h4(style='color: red') 2.000.000 Đ
              p
              a.btn.btn-warning.buy(href='#') Đặt Mua
          .card.bg-light
            img.card-img-top.img-thumbnail.img1(src='img/Ragdoll.jpg', alt='Card image')
            .card-body.text-center
              p.card-text
              h2 Ragdoll
              p
              p.card-text
              h5 20-Lê Thanh Nghị-Hai Bà Trưng-Hà Nội
              p
              a(href='#')
                h6 Xem chi tiết
              p.card-text
              h4(style='color: red') 2.000.000 Đ
              p
              a.btn.btn-warning.buy(href='#') Đặt Mua
        div(style='display: flex;justify-content: center;')
          ul.pagination
            li.page-item
              a.page-link(href='#') Previous
            li.page-item
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#') Next
      // end_content
      // footer
      #footer
        p
          | Liên hệ với chúng tôi qua tổng đài hỗ trợ 19001508      Email : tripham9299@gmail.com
        p Copyright © 2019 - Hệ thống mua bán thú cưng hàng đầu Việt Nam - PetSky
      // end-footer
