extends ../layouts/common

block content
		h1 User
		a(href="/users/create") New
		ul 
			each user in users
				li
					span= user.name
					span &nbsp;
					a(href='/users/' + user.id) View
					img(src=user.avatar,width="32")